@import "../../Global/GlobalStyle/varibale.scss";

.background-generic {
  background-image: url("../../Storage/Images/bgThum.png");
  height: 100%;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);

  background-blend-mode: hard-light;
}

.background-generic-inner {
  background-color: $white-primary-color;
  margin: 70px 190px;
  border-radius: 40px;
}
